
@{
    ViewBag.Title = "Createshop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Createshop</h2>

<input type="text" name="fname">
<button text="create folder" id="createfolder" onclick="location.href='@Url.Action("createfolder", "Shop")'">click here</button>


