<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Devsone.com</title>
</head>
<body>
    <p style="font-size:18px;">
        Hi @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Thanks for signing up to <a href="http://E-mart.com">our site</a>!
    </p>
    <p style="font-size:18px;"><i>E-Mart</i></p>
</body>
</html>

